<!-- HEADER -->
<header class="site-header">
  <div class="logo-wrapper">
    <a href="./index.html">
      <img src="/assets/images/logo.png" 
           alt="Logo Associazione Micologica Bresadola - Gruppo di Villa d'Ogna" 
           class="main-logo" loading="lazy">
    </a>
  </div>

  <!-- NAVBAR -->
  <nav class="navbar" aria-label="Navigazione principale">
    <ul>
      <li><a href="/html/index.html" >Home
      </a></li>
      <li><a href="/html/chi_siamo.html">Chi siamo</a></li>
      <li><a href="/html/news.html" class="active">  <img src="/assets/images/fungo_icon.png" alt="Icona fungo" class="nav-fungo" loading="lazy">News</a></li>
      <li><a href="/html/eventi.html">Calendario</a></li>
      <li><a href="/html/leggi.html">Regolamenti 2025</a></li>
      <li><a href="/html/riviste.html">Riviste</a></li>
      <li><a href="/html/contatti.html">Contatti</a></li>
    </ul>
  </nav>

  <!-- Pulsante menu mobile -->
  <button class="menu-toggle" aria-label="Apri menu" aria-expanded="false">
    <span></span>
    <span></span>
    <span></span>
  </button>
</header>